<div id="view-message-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="message-container">
      <div class="modal-content">

        <div class='message-append'></div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
        </div>

      </div> <!-- <div class="modal-content"> -->
    </div>
  </div>
</div>