<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="map"></div>
    <script>
    console.log('Script Section...');
    </script>
    <script src="./map.js" type="text/javascript"> </script>
    <script type="text/javascript" async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA422vOq0FEOGdXd5k4z7b1-3VSH9GXCec&callback=initMap">
     <%#= process.env.GOOGLE_MAPS_API_KEY %>
    </script>
    <script>
    console.log('Script Section ends.');
    </script>

  </body>
</html>
