<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/top_nav') %>
    <%- include('partials/view-message-modal') %>

    <div id="map"></div>
    <script>
    console.log('Script Section...');
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA422vOq0FEOGdXd5k4z7b1-3VSH9GXCec&v=3.exp&libraries=geometry"></script>
    <script type="text/javascript" src="/geolocation-marker.js"></script>
    <script type="text/javascript" src="/javascripts/position-to-city-name.js"></script>
    <script type="text/javascript" src="/javascripts/render-markers.js"></script>
    <script type="text/javascript" src="/map.js"></script>
    <!-- <script> initMap(); </script> -->
    <!-- <script type="text/javascript" async defer -->
    <!-- src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA422vOq0FEOGdXd5k4z7b1-3VSH9GXCec&callback=initMap"> -->
    <!-- </script> -->
    <script>
    console.log('Script Section ends.');
    </script>


    <%- include('partials/footer') %>
  </body>
</html>
