@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$brand-color-light: #e7e9f4;
$brand-color-light-mid: #b1bcd2;
$brand-color-mid: #7281a1;
$brand-color-dark-mid: #586181;
$brand-color-dark: #282933;

$color_primary: #212121;
$color_secondary: #4A4A4A;
// $color_accent: #F9BF2A;
$color_bg_light: $brand-color-light;
$color_bg_dark: $brand-color-dark-mid;
$font_primary: white;
$font_secondary: $brand-color-dark;

// $font_main: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
$font_main: 'Open Sans', sans-serif;
$font_headers: 'Open Sans', sans-serif;

$top_padding: 50px;
$bottom_padding: 25px;

$base-font-size: 15px;
$base-line-height: 1.5 * $base-font-size;

/*
 * Globals
 */


// LINKS
a,
a:focus,
a:hover {
  color: $font_primary;
}

// BUTTONS
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: $font_primary;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: lighten($brand-color-dark, 15%);
  border: 0px;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: $font_primary;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: lighten($brand-color-dark, 15%);
  border: 0px;
}

// BASE
body {
  font-family: $font_main;
  background-color: $color_bg_dark;
  color: $brand-color-dark;
  padding-top: #{$top_padding + 15};
  padding-bottom: #{$bottom_padding + 15};
  height: auto;
  text-align: left;
  font-size: $base-font-size;
  line-height: $base-line-height;
  // font-weight: light;
}
img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_headers;
  font-weight: bold;
  margin: 0px;
}

.lead {
  margin: 0px;
}

.text-box {
  background-color: $brand-color-light;
  border-radius: 5px;
  padding: 20px;
  .row {
    margin-left: -20px;
    margin-right: -20px;
  }
}

#map {
  position: absolute;
  top: $top_padding;
  left: 0;
  height: calc(100% - #{$top_padding + $bottom_padding});
  width: 100%;
}

.username {
  margin-bottom: 0px;
}

.email.small {
  color: $brand-color-dark-mid
}

footer {
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  height: $bottom_padding;
  border-top: 1px solid black;
  // padding: 0;
  background-color: $brand-color-dark;
  color: $brand-color-light-mid;
  p {
    margin: 0;
    text-align: center;
    opacity: .50;
  }
}

// MODAL
.modal-content {
  color: $font_secondary;
  background-color: $color_bg_light;
  .footer {
    color: $brand-color-dark-mid;
  }
}
.modal-header {
  border-bottom: 1px solid $brand-color-light-mid;
  .info {
    text-transform: uppercase;
    font-size: #{$base-font-size * 0.75};
  }
}
.modal-footer {
  border-top: 1px solid $brand-color-light-mid;
  h6 {
    margin-bottom: 15px;
    text-align: center;
  }
}

// VIEW MESSAGE MODAL
#view-message-modal {
  .modal-header {
    h6 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

// NAVBAR
.navbar {
  background-color: $brand-color-dark;
  border-bottom: 1px solid black;
  font-family: $font_headers;
  text-align: center;
  height: 50px;
}

.masthead {
  margin-right: auto;
  margin-left: auto;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-bottom: 5px;
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  // font-weight: bold;
  color: $font_primary; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: $font_primary;
  // border-bottom-color: #a9a9a9;
  // border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: $font_primary;
  border-bottom-color: $font_primary;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

// NAVBAR AFFIXED CENTER
@media (min-width: 768px) {
  .masthead {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .container {
      width: 768px;
  }
}

// FORMS
.form-login,
.form-signup {
  max-width: 330px;
  padding: 0px;
  margin: 0 auto;
  background-color: $brand-color-light;
  border-radius: 5px;
  color: $font_secondary;
  // border: 1px solid $color_primary;
  label {
    float: left;
  }
}

.form-login-heading,
.form-signup-heading {
  margin-top: 0px;
  margin-bottom: 0px;
}

form {
  label {
    float: left;
  }
  textarea {
    resize: vertical;
  }

}

// TABS
.nav-tabs {
  border-bottom: 1px solid $brand-color-light-mid;
  li.active a,
  li.active a:focus,
  li.active a:hover {
    color: $brand-color-dark;
    background-color: $color_bg_light;
    border-color: $brand-color-light-mid;
    border-bottom: 1px solid transparent;
    padding-bottom: 7px;
  }
}

.nav-tabs {
  li {
    margin-right: 4px;
  }
  li:first-child a {
    margin-left: 20px;
  }
  li a {
    color: $brand-color-dark;
    padding: 7px;
  }
  li a:focus,
  li a:hover {
    text-decoration: none;
    background-color: $brand-color-light-mid;
    border: 1px solid transparent;
    padding-bottom: 6px;

  }
}

.message-container {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $brand-color-light-mid;
  .header {
    .info {
      text-transform: uppercase;
      font-size: #{$base-font-size * 0.75};
      margin-bottom: 10px;
    }
  }
  .footer {
    color: $brand-color-dark-mid;
  }
}

.message-container:last-child {
  border-bottom: none;
}

.posn-lock-control-UI {
  background-color: $color_bg_light;
  border: 2px solid $color_bg_light;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  text-align: center;
  margin-left: 10px;

  .control-text {
    color: grey;
    font-size: 16px;
    padding: 5px 5px 3px 5px;
  }
  h6 {
    margin: 5px 0px;
    margin-left: 5px;
    font-weight: normal;
  }
  .control-text:hover,
  .control-text:focus,
  .active {
    color: $font_secondary;
  }
}

.new-message-modal {
  .display-none {
    display: none;
  }
}


