/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #333;
  border: 0px;
}

/*
 * Base structure
 */
html,
body {
  font-family: "Dosis", sans-serif;
  padding-top: 40px;
  height: 100%;
  background-color: #333;
}

body {
  color: #fff;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
}

.modal-content {
  color: #000;
  background-color: lightgrey;
}

.modal-footer h6 {
  margin-top: 0px;
  text-align: center;
}

/* Padding for spacing */
.inner {
  padding: 15px;
}

/*
 * Header
 */
.navbar {
  background-color: #212121;
  border-bottom: 1px solid black;
}

.masthead {
  margin-right: auto;
  margin-left: auto;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: #fff;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Affix and center
 */
@media (min-width: 768px) {
  .masthead {
    width: 768px;
  }
}

.form-login {
  max-width: 330px;
  padding: 0px;
  margin: 0 auto;
  background-color: lightgrey;
  border-radius: 5px;
  color: #000;
}

.form-login label {
  float: left;
}

.form-login-heading {
  margin-top: 0px;
  margin-bottom: 0px;
}

form label {
  float: left;
}
