@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$brand-color-light: #e7e9f4;
$brand-color-light-mid: #b1bcd2;
$brand-color-mid: #7281a1;
$brand-color-dark-mid: #586181;
$brand-color-dark: #282933;

$color_primary: #212121;
$color_secondary: #4A4A4A;
// $color_accent: #F9BF2A;
$color_bg_light: $brand-color-light;
$color_bg_dark: $brand-color-mid;
$font_primary: white;
$font_secondary: $brand-color-dark;

$font_main: 'Open Sans', sans-serif;
$font_headers: 'Open Sans', sans-serif;

$top_padding: 50px;
$bottom_padding: 25px;

$base-font-size: 15px;
$base-line-height: 1.5 * $base-font-size;

@import 'loader';
@import 'page-buttons';

/*
 * Globals
 */


// LINKS
a,
a:focus,
a:hover {
  color: $brand-color-dark-mid;
  text-decoration: underline;
}

a.dropdown-item {
  text-decoration: none;
}

// BUTTONS
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: $font_primary;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: lighten($brand-color-dark, 15%);
  border: 0px;
  text-decoration: none;
  a,
  a:focus,
  a:hover {
    color: $font_primary;
    text-decoration: none;
  }
}

.btn-primary,
.btn-primary:focus {
  color: $font_secondary;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: $color_bg_light;
  border-color: $brand-color-light-mid;
  text-decoration: none;

  &:hover {
    background-color: $brand-color-light-mid;
    color: $font_primary;
    border-color: $brand-color-light-mid;
  }

  a,
  a:focus,
  a:hover {
    color: $font_primary;
    text-decoration: none;
  }
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: $font_primary;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: lighten($brand-color-dark, 15%);
  border: 0px;
  text-decoration: none;
  a,
  a:focus,
  a:hover {
    color: $font_primary;
    text-decoration: none;
  }
}

// BASE
html {
  height: 100%;
}
body {
  font-family: $font_main;
  background-color: $color_bg_dark;
  color: $brand-color-dark;
  padding-top: #{$top_padding + 15};
  padding-bottom: #{$bottom_padding + 15};
  height: auto;
  text-align: left;
  font-size: $base-font-size;
  line-height: $base-line-height;
  min-height: 100%;
  // font-weight: light;
}
img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_headers;
  font-weight: bold;
  margin: 0px;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.lead {
  margin: 0px;
  margin-top: 20px;
}

.text-box {
  background-color: $brand-color-light;
  border-radius: 5px;
  padding: 20px;
  min-height: 250px;
  .row {
    margin-left: -20px;
    margin-right: -20px;
  }
}
.vertical-center {
  min-height: calc(100% - #{$top_padding + $bottom_padding});  /* Fallback for browsers do NOT support vh unit */
  min-height: calc(100vh - #{$top_padding + $bottom_padding}); /* These two lines are counted as one :-)       */
  padding: 0px;
  margin: 0px;
  margin-top: -15px;
  display: flex;
  align-items: center;
  background-color: inherit;
  .error {
    text-align: center;
  }
  .map-error {
    z-index: 200;
    text-align: center;
    span {
      background-color: $color_bg_light;
      color: $font_secondary;
      border-radius: 3px;
      box-shadow: 0 2px 6px rgba(0,0,0,.3);
      padding: 10px;

    }
  }
}

#map {
  position: absolute;
  top: $top_padding;
  left: 0;
  height: calc(100% - #{$top_padding + $bottom_padding});
  width: 100%;
  bottom: $bottom_padding;
  z-index: 100;
}

.username {
  margin-bottom: 0px;
}

.email.small {
  color: $brand-color-dark-mid
}

footer {
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  height: $bottom_padding;
  border-top: 1px solid black;
  // padding: 0;
  background-color: $brand-color-dark;
  color: $brand-color-light-mid;
  p {
    margin: 0;
    text-align: center;
    opacity: .50;
  }

}

footer.navbar-fixed-bottom{
  a {
    color: $brand-color-light;
  }
}
// MODAL
.modal-content {
  color: $font_secondary;
  background-color: $color_bg_light;
  .footer {
    color: $brand-color-dark-mid;
  }
}
.modal-header {
  border-bottom: 1px solid $brand-color-light-mid;
  .info {
    text-transform: uppercase;
    font-size: #{$base-font-size * 0.75};
  }
}
.modal-footer {
  border-top: 1px solid $brand-color-light-mid;
  h6 {
    margin-bottom: 15px;
    text-align: center;
  }
}


// VIEW MESSAGE MODAL
#view-message-modal {
  .modal-header {
    h6 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  .message-append {
    .modal-header {
      border-bottom: 1px solid $brand-color-light-mid;
      .info {
        text-transform: uppercase;
        font-size: #{$base-font-size * 0.75};
      }
    }
  }
  .message-append.multiple {
    .message-in-append {
      .modal-header {
        border: 0px;
        .close {
          display: none;
        }
      }
    }
    .message-in-append:first-child {
      .modal-header {
        .close {
          display: block;
        }
      }
    }
  }
  .message-in-append {
    border-bottom: 1px solid $brand-color-light-mid;
  }
  .modal-footer {
    border-top: 0px;
  }
}

// NAVBAR
.navbar {
  background-color: $brand-color-dark;
  border-bottom: 1px solid black;
  font-family: $font_headers;
  text-align: center;
  height: 50px;
  min-width:320px;
  a:hover,
  a:focus,
  a {
    text-decoration: none;
  }
}

.masthead {
  margin-right: auto;
  margin-left: auto;
}

.masthead-brand {
  color: $font_primary;
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-bottom: 5px;
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  // font-weight: bold;
  color: $font_primary; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: $font_primary;
  // border-bottom-color: #a9a9a9;
  // border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus, {
  color: $font_primary;
  border-bottom-color: $font_primary;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

// NAVBAR AFFIXED CENTER
@media (min-width: 768px) {
  .masthead {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .container {
      width: 768px;
  }
}

// FORMS
.form-login,
.form-signup {
  max-width: 330px;
  padding: 0px;
  margin: 0 auto;
  background-color: $brand-color-light;
  border-radius: 5px;
  color: $font_secondary;
  // border: 1px solid $color_primary;
  label {
    float: left;
  }
}

.form-login-heading,
.form-signup-heading {
  margin-top: 0px;
  margin-bottom: 0px;
}

form {
  textarea {
    resize: vertical;
  }
}

#recipients-container {
  display: none;
}

// TABS
.nav-tabs {
  border-bottom: 1px solid $brand-color-light-mid;
  li.active a,
  li.active a:focus,
  li.active a:hover {
    color: $brand-color-dark;
    background-color: $color_bg_light;
    border-color: $brand-color-light-mid;
    border-bottom: 1px solid transparent;
    padding-bottom: 7px;
  }
}

.nav-tabs {
  li {
    margin-right: 4px;
  }
  li:first-child a {
    margin-left: 20px;
  }
  li a {
    color: $brand-color-dark;
    padding: 7px;
    text-decoration: none;
  }
  li a:focus,
  li a:hover {
    text-decoration: none;
    background-color: $brand-color-light-mid;
    border: 1px solid transparent;
    padding-bottom: 6px;

  }
}

// PROFILE PAGE
.message-container {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $brand-color-light-mid;
  .header {
    .info {
      text-transform: uppercase;
      font-size: #{$base-font-size * 0.75};
      margin-bottom: 10px;
    }
  }
  .footer {
    color: $brand-color-dark-mid;
  }
}

.message-container:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

// CUSTOM GOOGLE MAPS BUTTON
.posn-lock-control-UI {
  background-color: $color_bg_light;
  border: 2px solid $color_bg_light;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  text-align: center;
  margin-right: 15px;
  margin-top: 15px;

  .control-text {
    color: grey;
    font-size: 16px;
    padding: 5px 5px 3px 5px;
  }
  h6 {
    margin: 3px 0px;
    margin-left: 5px;
    font-weight: normal;
  }
  .active {
    color: $font_secondary;
  }
}

.new-message-modal {
  .display-none {
    display: none;
  }
}

h1.loading {
  color: white;
}

.tab-content {
  .lead {
    font-size: 1.25 * $base-font-size;
  }
}

.likes {
  .glyphicon {
    cursor: pointer;
  }
}

.typeahead.dropdown-menu {
  .active > a,
  .active > a:focus,
  .active > a:hover{
    background-color: $brand-color-light-mid;
  }

}

.editable {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  &:focus {
    outline: none;
  }
}

.list-group {
  margin: 10px 0;
}

.list-group-item .badge:hover {
  cursor: pointer;
  background-color: #aaa;
}

#content-editor {
  display: none;
}

textarea {
  resize: vertical;
}
